h1 {
    color: blueviolet;
    font-style: italic;
    font-size: 60px;
    font-weight: bold;
    margin-left: 130px;
    margin-top: 40px;
}

h3 {
    font-size: 25px;
    margin-left: 100px;
    color: black;
    margin-top: -10px;
}

.filter {
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;
}

#group-by {
    width: 25%;
    display: flex;
    margin-left: 20px;
    margin-top: -5px;
}

#button {
    background-color: blueviolet;
    color: white;
    padding: 0px 30px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-left: 20px;
    margin-top: -5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
#button {
    background-color: white; 
    color: black;
    border: 2px solid blueviolet;
  }
  
#button:hover {
    background-color: blueviolet;
    color: white;
  }

.chart{
    font-weight: bold;
    color: black;
}